/* .header {
    border: 1px solid black;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 100px;
    height: 100px;
}

.nav-items {
    display: flex;
    list-style-type: none;
    gap: 20px;
    align-items: center;
    margin-right: 20px;
}

.nav-items li {
    cursor: pointer;
}

.nav-items li:hover {
    text-decoration: underline;
    color: blue;
}

.body {
    padding: 10px;
}

.search-container,
.filter-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.restro-card-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.restro-card {
    border: 1px solid transparent;
    background-color: #f0f0f0;
    margin: 5px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    height: 100%;
}

.restro-card:hover {
    border-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer;
}

.restro-logo {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.restro-details {
    padding: 10px;
}

.shimmer {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    width: 250px;
    height: 300px;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    margin: 5px;
    border-radius: 10px;
} */

@import "tailwindcss";